extends ../layout

block content
  body(class = "bglog")
  br
  br
  .page-header
    h3.sign Sign in
    form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-3.col-sm-offset-2#login
        .form-group
          br
          label.control-label(for='email' style="color:white;") Email
          input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
        .form-group
          label.control-label(for='password' style= "color:white;") Password
          input.form-control(type='password', name='password', id='password', placeholder='Password')
        .form-group
          button.btn.btn-primary(type='submit')
            i.fa.fa-user
            | Login
          a.btn.btn-link(href='/forgot') Forgot your password?
      
        
        
      
