link(href='/../css/main.less', rel ='stylesheet')
link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
script
	
html(lang ='en')
	head
		title Welcome
	body#cover
		div.coverdiv
			h1(style =" font-family:'Brush Script MT', cursive; color:white" id="head1") Cabinet 
		div.wrapper
			div.loginbutton
				a.myButton(href='login') Log In
			div.signupbutton
				a.myButton(href='signup') Sign Up