extends ../layout
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin')
link(href='/css/pref.less', rel='stylesheet')
script(src='//code.jquery.com/jquery-1.11.3.min.js')
block content
  body(id = "prefbg")
    #whole
      h1(style="padding-left:450px; font-family: 'Brush Script MT', cursive; font-size: 400%;") Get Started
      hr
      .row
        .col-md-6
          h2 Choose Issues.
          .funkyradio
            .funkyradio-success
              input#checkbox1(type='checkbox', name='checkbox')
              label(for='checkbox1') Abortion
            .funkyradio-success
              input#checkbox2(type='checkbox', name='checkbox')
              label(for='checkbox2') Immigration
            .funkyradio-success
              input#checkbox3(type='checkbox', name='checkbox')
              label(for='checkbox3') Foreign Affairs
            .funkyradio-success
              input#checkbox4(type='checkbox', name='checkbox')
              label(for='checkbox4') Healthcare
            .funkyradio-success
              input#checkbox5(type='checkbox', name='checkbox')
              label(for='checkbox5') Environment
            .funkyradio-success
              input#checkbox6(type='checkbox', name='checkbox')
              label(for='checkbox6') Education
            .funkyradio-success
              
        .col-md-6
          h2 Choose Candidates.
          h3 Republican
          .funkyradio
            .funkyradio-success
              input#checkbox6(type='checkbox', name='checkbox')
              label(for='checkbox6') Jeb Bush
            .funkyradio-success
              input#checkbox7(type='checkbox', name='checkbox')
              label(for='checkbox7') Donald Trump
            .funkyradio-success
              input#checkbox8(type='checkbox', name='checkbox')
              label(for='checkbox8') Chris Christie
            .funkyradio-success
              input#checkbox9(type='checkbox', name='checkbox')
              label(for='checkbox9') Ted Cruz
          h3 Democratic
          .funkyradio
            .funkyradio-success
              input#checkbox10(type='checkbox', name='checkbox')
              label(for='checkbox10') Hillary Clinton
            .funkyradio-success
              input#checkbox11(type='checkbox', name='checkbox')
              label(for='checkbox11') Joe Biden
            .funkyradio-success
              input#checkbox12(type='checkbox', name='checkbox')
              label(for='checkbox12') Bernie Sanders
            .funkyradio-success
              input#checkbox13(type='checkbox', name='checkbox')
              label(for='checkbox13') Jim Webb
      hr
      center
        button.btn.btn-primary.btn-lg(type='button', onclick='submit()')
          | Submit 
          i.fa.fa-sign-out
  script.
    var issues = [false, false, false, false, false];
    var cand = [false, false, false, false, false, false, false, false];
    var name = ["Jeb Bush", "Donald Trump", "Chris Christie", "Ted Cruz", "Hillary Clinton", "Joe Biden", "Bernie Sanders", "Jim Webb"];
    var pic = ["http://i.imgur.com/gUHqMra.jpg", "http://i.imgur.com/xTJcfLj.jpg","http://i.imgur.com/al4XvC2.png", "http://i.imgur.com/cyblItG.png","http://i.imgur.com/TDftIdR.png","http://i.imgur.com/FEFLcsO.png","http://i.imgur.com/RoMHhzh.png","http://i.imgur.com/vlPBbyJ.png"];
    function submit() {
    if (document.getElementById('checkbox1').checked) issues[0] = true;
    if (document.getElementById('checkbox2').checked) issues[1] = true;
    if (document.getElementById('checkbox3').checked) issues[2] = true;
    if (document.getElementById('checkbox4').checked) issues[3] = true;
    if (document.getElementById('checkbox5').checked) issues[4] = true;
    if (document.getElementById('checkbox6').checked) cand[0] = true;
    if (document.getElementById('checkbox7').checked) cand[1] = true;
    if (document.getElementById('checkbox8').checked) cand[2] = true;
    if (document.getElementById('checkbox9').checked) cand[3] = true;
    if (document.getElementById('checkbox10').checked) cand[4] = true;
    if (document.getElementById('checkbox11').checked) cand[5] = true;
    if (document.getElementById('checkbox12').checked) cand[6] = true;
    if (document.getElementById('checkbox13').checked) cand[7] = true;
    document.getElementById('whole').innerHTML = '<h2>Welcome to Cabinet.</h2><hr/><h3>Learn about your candidates.</h3><div class="row">';
    var i;
    for (i = 0; i < 5; i++) {
      if (cand[i]) {
        document.getElementById('whole').innerHTML = document.getElementById('whole').innerHTML + '<div class="col-md-3"> <div class="card hovercard"> <div class="cardheader"> </div> <div class="avatar"> <img alt="" src="' + pic[i] + '"> </div> <div class="info"> <div class="title">' + name[i] + '</div> <div class="desc">Republican</div> </div> <div class="bottom"> </div> </div> </div>';
      }
    }
    document.getElementById('whole').innerHTML = document.getElementById('whole').innerHTML + '</div><div class="row">';
    for (i = 4; i < 8; i++) {
      if (cand[i]) {
        document.getElementById('whole').innerHTML = document.getElementById('whole').innerHTML + '<div class="col-md-3"> <div class="card hovercard"> <div class="cardheader"> </div> <div class="avatar"> <img alt="" src="' + pic[i] + '"> </div> <div class="info"> <div class="title">' + name[i] + '</div> <div class="desc">Democratic</div> </div> <div class="bottom"> </div> </div> </div>';
      }
    }
    document.getElementById('whole').innerHTML = document.getElementById('whole').innerHTML + "</div>"
    }
