extends ../layout
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin')
link(href='/css/pref.less', rel='stylesheet')
block content
  h2 Get Started.
  hr

  .row
    .col-md-6
      h2 Choose Issues.
    .col-md-6
      h2 The Shortlist.